*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,20,0.3)),url(image/new.jpg);
    background-position: center;
    background-size: cover;
    position: relative; 
} 
.form-box{ 
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, .6);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 20px;
    
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #423e46;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #9994a1;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    border-radius: 20px;
} 
.input-field{
    margin-left: 15px;
    color: #999;
}
.input-field i{
    margin-left: 20px;
}

 form p{
    text-align: center;
    font-size: 13px;
 }
 form p a{
    text-decoration: none;
    color: #423e46;
 }
 .btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
 .btn-field button{
    flex-basis: 48%;
    background: #423e49;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.btn-field button:hover{
    background-color: greenyellow;
    transition: 0.4s linear;
}
.input-group{
    height: 280px;
}

.btn-field button:nth-child(even,odd){
    background-color:rgb(128, 209, 7);
    transition: 0.4s linear;
}

.btn-field button:nth-child(even,odd):hover{
    transition: 1s linear;
    background-color: rgb(128, 209, 7);
}

.images{
    height: 30px;
    width: 30px;
    display: flex;
}

.images #img1{
    position: relative;
    right: -60px;
    top: 30px;
}

.images #img2{
    position: relative;
    right: -110px;
    top: 30px;
}

.images #img3{
    position: relative;
    right: -155px;
    top: 30px;
}






 